/* HEADER */

header nav{
    display: none;
    transition: 0.3s;
}
header{
    width: 100%;
}
header .logo{
    margin-left: 10px;
}
header .btn-blue{
    margin-right: 10px;
}

/* SLIDER */

.slider .slider-img{
    width: 100vw;
    padding-bottom: 82%;
}
.slider-text{
    position: absolute;
    bottom: 0px;
    left: 0;
    transform: none;
    width: 100%;
    opacity: 0.8;
    border-radius: 0;
    padding: 0;
}
.slider-text .slider-title{
    padding: 10px;
}
.slider-text .author{
    padding: 0px 10px 10px;
}
.slide-arrow{
    top: 35%;
}

/* INTRO CARDS */

.intro-cards{
    margin: 50px 32px;
}

/* LEFT */

.intro-cards .left{
    margin-right: 0;
}

/* THAILAND */

.thai-img{
    padding-bottom: 68%;
    width: 100%;
}
.thai-info{
    width: 100%;
}

/* RIGHT */

.intro-cards .right{
    display: none;
    transition: 0.3s;
}

/* MID BANNER */

.mid-banner{
    margin: 0 32px 80px;
}
.banner-img{
    width: 576px;
    padding-bottom: 62%;
}
.mid-text{
    bottom: 32px;
    right: 15%;
}

/* LATEST */

.latest{
    margin: 0 32px 50px;
}
.latest .card{
    align-items: flex-start;
}
.latest .card .card-img{
    width: 246px;
    padding-bottom: 42%;
}
.latest .card .card-info{
    width: 262px;
}

/* NEWSLETTER */ 

.nl{
    width: 100%;
}

/* FOOTER */

.footer-nav{
    display: none;
}
footer .legal{
    margin: 0 20px;
}
footer .legal strong{
    display: none;
}
