header nav{
    display: none;
    transition: 0.3s;
}
header{
    width: 100%;
}
header .logo{
    padding-left: 10px;
}
header .btn-blue{
    margin-right: 10px;
}
.slider-text{
    position: absolute;
    bottom: 3px;
    left: 0;
    transform: none;
    width: 100%;
    opacity: 0.8;
    border-radius: 0;
    padding: 0;
}
.slider-text .slider-title{
    padding: 10px;
}
.slider-text .author{
    padding: 0px 10px 10px;
}
.slide-arrow{
    top: 35%;
}
.intro-cards{
    margin: 50px 20px;
}
.intro-cards .left{
    margin-right: 0;
}
.intro-cards .right{
    display: none;
    transition: 0.3s;
}
.nl{
    width: 100%;
}
.footer-nav{
    display: none;
}
footer .legal{
    margin: 0 20px;
}
footer .legal strong{
    display: none;
}
