header nav{
    display: none;
    transition: 0.3s;
}
header{
    width: 100%;
}
header .btn-blue{
    margin-right: 10px;
}
main{
    padding: 0;
}
.slider-text .slider-title br{
    display: none;
}
.slider-text{
    position: absolute;
    bottom: 0px;
    left: 0;
    transform: none;
    width: 100%;
    opacity: 0.8;
    border-radius: 0;
    padding: 0;
}
.slide-arrow{
    top: 35%;
}
.intro-cards{
    margin: 30px 20px;
}
.intro-cards .left{
    margin-right: 0;
    width: 100%;
    margin: 0 32px;
}
.thai-img{
    padding-bottom: 105%;
}
.left .card{
    flex-direction: column;
}
.left .card .card-img{
    margin-bottom: 20px;
    padding-bottom: 75%;
    width: 100%;
}
.left .card .card-info{
    padding-left: 0px;
    align-items: center;
}
.intro-cards .right{
    display: none;
    transition: 0.3s;
}
.mid-banner .banner-img{
    width: calc(100% - 32px);
    padding-bottom: 75%;
}
.mid-banner{
    margin: 0 0 50px;
}
.mid-text{
    right: 55px;
    bottom: 30%;
}
.mid-text .btn-blue{
    margin-left: 0;
}
.latest{
    margin: 0 32px 50px 32px;
}
.latest .card{
    flex-direction: column;
}
.latest .card .card-img{
    margin-bottom: 20px;
    width: 100%;
}
.latest .card .card-info{
    width: 100%;
    margin-left: 0px;
}
.nl{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.nl .nl-title{
    text-align: center;
}
.nl .nl-text{
    text-align: center;
}
.nl .card-text{
    text-align: center;
}
.footer-nav{
    display: none;
}
footer .legal{
    margin: 0 20px;
}
footer .legal strong{
    display: none;
}
