/* HEADER */

header nav{
    display: none;
    transition: 0.3s;
}
header{
    width: 100%;
}

/* MAIN */

main{
    padding: 0;
}

/* SLIDER */

.slider-text{
    position: absolute;
    bottom: 0px;
    left: 0;
    transform: none;
    width: 100%;
    opacity: 0.8;
    border-radius: 0;
    padding: 0;
}

/* INTRO CARDS */

.intro-cards{
    margin: 50px 40px;
}
.intro-cards .left{
    margin-right: 0;
    width: 100%;
}
.left .card{
    flex-direction: column;
}
.left .card .card-img{
    margin-bottom: 20px;
    width: 100%;
}
.left .card .card-info{
    padding-left: 0px;
    align-items: flex-start;
    margin-left: 5px;
}
.intro-cards .right{
    display: none;
    transition: 0.3s;
}

/* BANNER */

.mid-banner{
    margin: 0 0 50px;
}
.mid-banner .banner-img{
    width: 100%;
}
.mid-text{
    left: 25px;
    right: 25px;
    bottom: 20%;
}

/* LATEST */

.latest{
    margin: 0 40px 50px;
}
.latest .card{
    flex-direction: column;
}
.latest .card .card-img{
    margin-bottom: 20px;
    width: 100%;
}
.latest .card .card-info{
    width: 100%;
    margin-left: 0px;
}

/* NEWSLETTER */

.nl{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.nl .nl-title{
    text-align: center;
}
.nl .nl-text{
    text-align: center;
}
.nl .card-text{
    text-align: center;
    margin: 0 10px;
}

/* FOOTER */

.footer-nav{
    display: none;
}
footer .legal{
    margin: 0 40px;
}
footer .legal strong{
    display: none;
}
