header nav{
    display: none;
    transition: 0.3s;
}
header{
    width: 100%;
}
header .logo{
    padding-left: 10px;
}
header .btn-blue{
    margin-right: 10px;
}
main{
    padding: 0;
}
.slider-text{
    position: absolute;
    bottom: 3px;
    left: 0;
    transform: none;
    width: 100%;
    opacity: 0.8;
    border-radius: 0;
    padding: 0;
}
.slider-text .slider-title{
    padding: 10px;
}
.slider-text .author{
    padding: 0px 10px 10px;
}
.slide-arrow{
    top: 35%;
}
.intro-cards{
    margin: 30px 20px;
}
.intro-cards .left{
    margin-right: 0;
}
.left .card{
    flex-direction: column;
}
.left .card .card-img{
    margin-bottom: 20px;
}
.left .card .card-info{
    padding-left: 0px;
}
.left .card-info .card-title{
    padding: 5px 10px 10px;
}
.left .card-info .card-text{
    padding: 10px 0px 20px 10px; 
}
.intro-cards .right{
    display: none;
    transition: 0.3s;
}
.mid-banner{
    margin: 0 0 50px;
}
.mid-text{
    right: 55px;
    bottom: 30%;
    padding: 5px 5px 10px;
}
.mid-text .btn-blue{
    margin-left: 0;
}
.mid-text .h2-title{
    padding: 5px 0px;
}
.mid-text .author{
    padding: 0;
}
.latest{
    margin: 0 20px 50px 20px;
}
.latest .card{
    flex-direction: column;
}
.left .card .card-img{
    margin-bottom: 20px;
}
.latest .card .h3-title{
    padding: 10px 0 0 10px;
}
.latest .card .author{
    padding: 10px 0 0 10px;
}
.latest .card .card-text{
    padding: 10px 0 0 10px;
}
.nl{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.nl .nl-title{
    text-align: center;
}
.nl .nl-text{
    text-align: center;
}
.nl .card-text{
    text-align: center;
}
.footer-nav{
    display: none;
}
footer .legal{
    margin: 0 20px;
}
footer .legal strong{
    display: none;
}
