@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    margin: auto;
    box-sizing: border-box;
}
.test{
    height: 500px;
    width: 500px;
}
/* Library */
.nav-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}
.slider-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 10px;
}
.author{
    display: flex;
}
.author img{
    height: 28px;
    width: 28px;
}
.author p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size:13px;
    line-height: 24px;
    padding-left: 5px;
    color: #6C757D;
}
.h2-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.h3-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
}
.card-title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding: 20px 10px 10px;
}
.card-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:13px;
    line-height: 24px;
    padding: 10px 10px 20px;
    color: #6C757D;
}
.footer-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1E1E1E;
}
footer nav a{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #495057;
}
.legal-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:13px;
    line-height: 24px;
    color: #6C757D;
}
.btn-blue{
    background-color: #0D6EFD;
    color: white;
    border: 1px solid #0D6EFD;
    border-radius: 5px;
    padding: 17px 24px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.mid-btn{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    padding: 17px 50px;
}
a{
    text-decoration: none;
}
.centered{
    margin: auto;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    width: 70%;
    margin: auto;
}
header nav{
    display: flex;
    justify-content: space-between;
}
header nav a{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav a::after{
    content: "";
    background-image: url(img/chevron.svg);
    margin-left: 5px;
    display: inline-block;
    height: 10px;
    width: 10px;
}
header nav a{
    color: #1E1E1E;
    padding-right: 5px;
}

/* MAIN */

main{
    background-color: #EFEFEF;
    padding-bottom: 50px;
}

/* SLIDER */

.slider{
    display: flex;
    flex-direction: column;
    position: relative;
}
.slider-img{
    width: 100%;
    height: 100%;
}
.slider-img img{
    width: 100%;
    height: 25em;
}
.slide-arrow{
    border-radius: 100%;
    border: none;
    padding: 10px;
    position: absolute;
    top: 45%;
    width: auto;
    transform: translateX(-50%);
    cursor: pointer;
}
.sa-left{
    left: 45px;
}
.sa-right{
    right: 0%;
}
.slide-arrow img{
    display: block;
}
.slider-text{
    width: 40%;
    position: absolute;
    bottom: 20px;
    right: 20%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    transform: translateX(-50%);
}

/* INTRO-CARDS LEFT*/

.intro-cards{
    display: flex;
    width: 80%;
    margin: 50px auto;
}
.intro-cards .left{
    margin-right: 30px;
}
.thailand{
    position: relative;
    margin-bottom: 70px;
}
.thai-img{
    min-width: 100%;
    height: 375px;
}
.thai-img img{
    width: 100%;
    height: 375px;
}
.thai-title{
    position: absolute;
    bottom: 0%;
    min-width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: #FFFF;
    opacity: 0.8;
}
.h2-title{
    padding: 10px 20px 0;
}
.thai-author{
    padding: 0 20px 15px;
}
.left .card{
    display: flex;
    margin-bottom: 50px;
}
.card-info{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.card-info .author{
    padding-left: 10px;
}

/* INTRO-CARDS RIGHT */

.intro-cards .right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
}
.right .hello{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFF;
    border-radius: 5px;
    margin-bottom: 70px;
}
.right .hello .h2-title{
    padding: 0 20px 0;
}
.right .hello p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    padding: 10px 20px 0;
    color: #495057;
}
.right .hello img{
    padding-top: 30px;
}
.social{
    padding: 0 0 30px;
}
.social a{
    padding-right: 20px;
}
.social a svg{
    height: 20px;
    width: 20px;
}
.tags{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
    border-radius: 5px;
    padding-left: 10px;
}
.tags h2{
    align-self: flex-start;
}
.tag-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.tag-nav a{
    color: #495057;
    padding: 10px;
    border: 1px solid #DEE2E6;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    border-radius: 4px;
    margin: 10px 15px;
}
.tag-nav a:hover{
    background-color: #E6F0FF;
    color: #0D6EFD;
}

/* MID-BANNER */

.banner{
    width: 100%;
    height: 100%;
}
.banner img{
    width: 100%;
    height: 375px;
}
.mid-banner{
    width: 80%;
    margin: auto;
    position: relative;
    margin-bottom: 100px;
}
.mid-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #FFFF;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    bottom: 50px;
    right: 6%;
}
.mid-text .h2-title{
    padding: 20px;
}
.mid-text .author{
    padding: 0 20px;
}
.mid-text .btn-blue{
    padding: 5px;
    margin-left: 20px;
}

/* LATEST POSTS */

.latest{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 50px;

}
.latest .latest-title{
    margin-bottom: 50px;
}
.latest .card{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.latest .card .h3-title{
    padding: 10px 30px;
}
.latest .card .author{
    padding: 10px 30px;
}
.latest .card .card-text{
    padding: 10px 200px 10px 30px ;
}
.latest button{
    margin: auto;
}

/* NEWSLETTER */

.nl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: #E6F0FF;
    padding: 70px 0;
    border-radius: 5px;
}
.nl-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
.nl-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 20px;
}
.nl .formulaire{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.nl .formulaire label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    background-color: #0D6EFD;
    color: white;
    border: 1px solid #0D6EFD;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
.nl .formulaire input{
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #6C757D;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 20px;
}

/* FOOTER */
/* NAV */
footer{
    padding: 100px 0 0;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #DEE2E6;
    width: 80%;
    margin: auto;
}
.footer-nav nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.footer-nav nav .new-nav::after{
    content: "NEW";
    background-color: #0D6EFD;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 8px;
    height: 10px;
    color: #FFFFFF;
    padding: 1px 6px;
    border-radius: 5px;
    margin-left: 5px;
}
footer .legal{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 80%;
    margin: auto;
}
footer .legal .social a{
    padding-right: 20px;
}