@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Library */

img{
    border-radius: 12px;
}
.nav-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}
.slider-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 10px;
}
.author{
    display: flex;
}
.author img{
    height: 28px;
    width: 28px;
}
.author p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size:13px;
    line-height: 24px;
    color: #6C757D;
    margin-left: 8px;
}
.h2-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.h3-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
}
.card-title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.card-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:13px;
    line-height: 24px;
    color: #6C757D;
}
.footer-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1E1E1E;
}
footer nav a{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #495057;
}
.legal-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:13px;
    line-height: 24px;
    color: #6C757D;
}
.btn-blue{
    background-color: #0D6EFD;
    color: white;
    border: 1px solid #0D6EFD;
    border-radius: 5px;
    padding: 17px 24px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.mid-btn{
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    padding: 17px 50px;
    margin: auto;
}
a{
    text-decoration: none;
}

/* BODY */

body{
    box-sizing: border-box;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    width: 77%;
    margin: auto;
}
header nav{
    display: flex;
    justify-content: space-between;
}
header nav a{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1E1E1E;
    padding-right: 5px;
}
header nav a:hover{
    text-decoration: underline;
}
header nav a::after{
    content: "";
    background-image: url(img/chevron.svg);
    margin-left: 5px;
    display: inline-block;
    height: 10px;
    width: 10px;
}
.logo img{
    border-radius: 0px;
}

/* MAIN */

main{
    background-color: #EFEFEF;
    padding-bottom: 100px;
}

/* SLIDER */

.slider{
    position: relative;
}
.slider-img{
    position: relative;
    width: 100%;
    height: 33em;
}
.slider-img img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 0;
}
.slide-arrow{
    border-radius: 100%;
    border: none;
    padding: 10px;
    position: absolute;
    top: 45%;
    width: auto;
    transform: translateX(-50%);
    cursor: pointer;
}
.slide-arrow img{
    border-radius: 0px;
}
.sa-left{
    left: 45px;
}
.sa-left img{
    position: relative;
    left: -3px;
}
.sa-right{
    right: 0%;
}
.slide-arrow img{
    display: block;
}
.slider-text{
    width: 37%;
    position: absolute;
    bottom: 20px;
    right: 20%;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    transform: translateX(-50%);
}

/* INTRO-CARDS */

/* INTRO-CARDS LEFT*/

.intro-cards{
    display: flex;
    margin: 50px 165px;
}
.thailand{
    position: relative;
    margin-bottom: 70px;
}
.thai-img{
    position: relative;
    height: 25.8em;
    width: 730px;
}
.thai-img img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.thai-info{
    position: absolute;
    bottom: 0px;
    min-width: 100%;
    border-radius: 0 0 12px 12px;
    background-color: #FFFF;
    opacity: 0.8;
}
.thai-info .h2-title{
    margin: 24px 0 8px 48px;
}
.thai-author{
    margin: 0 0 24px 48px;
}
.left .card{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.left .card .card-img{ 
    position: relative;
    width: 17.9em;
    min-width: 218px;
    height: 13.4em;
}
.left .card .card-img img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.left .card .card-info{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 355px;
}
.left .card .card-text{
    margin-top: 8px;
}
.left .card .card-info .author{
    margin-top: 8px;
}

/* INTRO-CARDS RIGHT */

.intro-cards .right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
}
.right .hello{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFF;
    border-radius: 12px;
    margin-bottom: 70px;
    padding: 20px;
    width: 310px;
}
.right .hello .amy{
    margin: 28px 0 16px;
}
.right .hello .h2-title{
    margin-bottom: 4px;
}
.right .hello p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #495057;
    text-align: center;
    margin: 0 12px 24px;
}
.hello .social{
    margin-bottom: 24px;
}
.social img{
    border-radius: 0px;
}
.right .tags{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
    border-radius: 12px;
    width: 350px;
}
.right .tags .h2-title{
    align-self: flex-start;
    margin: 32px 0 0 32px;

}
.right .tag-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 17px 34px 15px 32px;
}
.right .tag-nav a{
    color: #495057;
    padding: 9px;
    border: 1px solid #DEE2E6;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    border-radius: 4px;
    margin: 0 17px 17px 0;
    background-color: .3s ease-in-out;
}
.right .tag-nav a:hover{
    background-color: #E6F0FF;
    color: #0D6EFD;
    border: none;
}

/* MID-BANNER */

.banner-img{
    position: relative;
    width: 100%;
    height: 23.5em;
}
.banner-img img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.mid-banner{
    margin: 0 165px 80px;
    position: relative;
}
.mid-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 445px;
    background-color: #FFFF;
    border-radius: 6px;
    position: absolute;
    bottom: 9%;
    right: 3%;
}
.mid-text .btn-blue{
    padding: 5px;
    margin: 32px 0 8px 32px;
}
.mid-text .h2-title{
    margin: 0 0 8px 32px;
}
.mid-text .author{
    margin: 0 0 32px 32px;
}

/* LATEST POSTS */

.latest{
    margin: 0 165px 50px;
}
.latest .latest-title{
    margin-bottom: 50px;
}
.latest .card{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.latest .card-img{
    position: relative;
    width: 40%;
    min-width: 245px;
    height: 15.6em;
}
.latest .card-img img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.latest .card-info{
    margin-left: 30px;
    max-width: 475px;
}
.latest .card .author{
    margin-top: 8px;
}
.latest .card .card-text{
    margin-top: 12px;
}

/* NEWSLETTER */

.nl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: #E6F0FF;
    padding: 70px 0;
    border-radius: 12px;
}
.nl-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
.nl-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 20px;
}
.nl .formulaire{
    display: flex;
    flex-direction: column;
    width: 350px;
}
.nl form{
    margin-bottom: 15px;
}
.nl .formulaire input{
    border: 1px solid #DEE2E6;
    border-radius: 5px;
    padding: 9px;
    color: #6C757D;
    background-color: #FFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 20px;
} 
.nl .formulaire button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    background-color: #0D6EFD;
    color: white;
    border: 1px solid #0D6EFD;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

/* FOOTER */

/* NAV */

footer{
    padding: 50px 0 0;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    margin: 0 165px;
}
.footer-nav nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.footer-nav nav a:hover{
    text-decoration: underline;
}
.footer-nav nav .new-nav::after{
    content: "NEW";
    background-color: #0D6EFD;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 8px;
    color: #FFFFFF;
    padding: 1px 6px;
    border-radius: 4px;
    margin-left: 5px;
}
footer .legal{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 165px;
    border-top: 1px solid #DEE2E6;
}
.mid-social{
    margin: 0 24px;
}